* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.85), rgba(230, 255, 230, 0.5)), url('../pics/land.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    line-height: 1;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol, ul {
    list-style: none;
}
